
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 168rem;
}.sample-wireframe-VVS {
  display: flex;
  width: 100%;
  padding-bottom: 9.6rem;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  flex-direction: column;
  background-color: #ffffff;
  box-sizing: border-box;

  .navigation-c-pRE {
    overflow: hidden;
    align-items: center;
    background-color: #ffffff;
    height: 6rem;
    box-sizing: border-box;
    padding: 1rem 8rem;
    width: 100%;
    position: relative;
    display: flex;
    flex-shrink: 0;
    margin-bottom: 0.5rem;

    .sample-logo-4D6 {
      margin: 0.4rem 7.078rem 0.4rem 0rem;
      height: calc(100% - 0.8rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-ytpq-AG8 {
        margin: 0rem 1.17rem 0.356rem 0rem;
        width: 2.2518rem;
        height: 2.2519rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .photo-sAY {
        line-height: 1.115;
        white-space: nowrap;
        flex-shrink: 0;
        color: #000000;
        font-family: Comfortaa, 'Source Sans Pro';
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.8444rem;
        font-weight: 400;
        letter-spacing: -0.0427rem;
      }
    }
    .features-Lpp {
      line-height: 1.2175;
      font-family: Montserrat, 'Source Sans Pro';
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      font-weight: 500;
      letter-spacing: -0.0225rem;
      color: #18a0fb;
      white-space: nowrap;
      margin-right: 4rem;
      display: flex;
    }
    .pricing-S7A {
      margin-right: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      font-weight: 500;
      letter-spacing: -0.0225rem;
      font-family: Montserrat, 'Source Sans Pro';
      flex-shrink: 0;
      line-height: 1.2175;
      color: #18a0fb;
      white-space: nowrap;
    }
    .community-LiL {
      letter-spacing: -0.0225rem;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      margin-right: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      flex-shrink: 0;
      font-size: 1.5rem;
      line-height: 1.2175;
      color: #18a0fb;
    }
    .support-48Y {
      margin-right: 66.7rem;
      justify-content: center;
      font-weight: 500;
      letter-spacing: -0.0225rem;
      color: #18a0fb;
      white-space: nowrap;
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      line-height: 1.2175;
      font-family: Montserrat, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .button-BDA {
      border: solid 0.1rem #18a0fb;
      background-color: #ffffff;
      flex-shrink: 0;
      color: #18a0fb;
      font-family: Montserrat, 'Source Sans Pro';
      width: 13rem;
      justify-content: center;
      box-sizing: border-box;
      align-items: center;
      height: 100%;
      display: flex;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.2175;
      letter-spacing: -0.0225rem;
      white-space: nowrap;
      margin-right: 1.2rem;
      border-radius: 0.6rem;
    }
    .button-Qbi {
      font-family: Montserrat, 'Source Sans Pro';
      border-radius: 0.6rem;
      height: 100%;
      font-size: 1.5rem;
      line-height: 1.2175;
      justify-content: center;
      color: #ffffff;
      flex-shrink: 0;
      font-weight: 500;
      letter-spacing: -0.0225rem;
      white-space: nowrap;
      width: 13rem;
      display: flex;
      align-items: center;
      background-color: #18a0fb;
    }
  }
  .auto-group-zbkl-5C4 {
    width: 100%;
    height: 155.9rem;
    position: relative;
    flex-shrink: 0;

    .body-e-cSt {
      padding: 8rem 9.2rem 8rem 8rem;
      left: 0;
      top: 95.9rem;
      background-color: #ffffff;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      width: 168rem;
      height: 60rem;
      position: absolute;
      overflow: hidden;

      .rectangle-5rG {
        margin-right: 8.4rem;
        width: 75rem;
        height: 44rem;
        border: solid 0.1rem rgba(0, 0, 0, 0.3000000119);
        box-sizing: border-box;
        background-color: #e5e5e5;
        flex-shrink: 0;
      }
      .auto-group-m4ze-CR6 {
        margin: 14.5rem 0;
        height: calc(100% - 29rem);
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .sed-ut-perspiciatis-unde-omnis-8Ze {
          font-weight: 700;
          line-height: 1.5;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 2.4rem;
          font-size: 2.4rem;
          letter-spacing: -0.036rem;
          white-space: nowrap;
        }
        .nemo-enim-ipsam-voluptatem-quia-voluptas-sit-aspernatur-aut-odit-aut-fugit-sed-quia-consequuntur-magni-dolores-eos-qui-ratione-voluptatem-sequi-nesciunt-neque-porro-quisquam-est-qui-dolorem-E6t {
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.6666666667;
          letter-spacing: -0.027rem;
          color: rgba(0, 0, 0, 0.8000000119);
          font-family: Montserrat, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 67.4rem;
        }
      }
    }
    .hero-a-Em6 {
      height: 96rem;
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;
      background-color: #ffffff;
      width: 168rem;

      .rectangle-NcQ {
        flex-direction: column;
        border: solid 0.1rem rgba(0, 0, 0, 0.3000000119);
        background-color: #e5e5e5;
        box-sizing: border-box;
        padding: 35.4rem 14.4rem;
        width: 100%;
        height: 100%;
        display: flex;

        .the-largest-community-of-photo-enthusiasts-JW4 {
          line-height: 1.4285714286;
          color: #000000;
          flex-shrink: 0;
          margin-bottom: 4rem;
          font-size: 5.6rem;
          letter-spacing: -0.084rem;
          font-family: Montserrat, 'Source Sans Pro';
          max-width: 63.6rem;
          font-weight: 400;
        }
        .button-nAL {
          letter-spacing: -0.0255rem;
          border-radius: 0.6rem;
          width: 19.2rem;
          justify-content: center;
          font-weight: 500;
          line-height: 1.2175;
          margin-left: 0.1rem;
          color: #ffffff;
          flex-shrink: 0;
          align-items: center;
          font-size: 1.7rem;
          font-family: Montserrat, 'Source Sans Pro';
          background-color: #18a0fb;
          height: 5.2rem;
          display: flex;
          white-space: nowrap;
        }
      }
    }
  }
  .body-f-xyv {
    background-color: #f5f5f5;
    padding: 8rem;
    height: 60rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;
    position: relative;

    .auto-group-zafj-hgc {
      flex-direction: column;
      flex-shrink: 0;
      margin: 14.5rem 9.6rem 14.5rem 0rem;
      height: calc(100% - 29rem);
      display: flex;

      .sed-ut-perspiciatis-unde-omnis-1xC {
        margin-bottom: 2.4rem;
        font-size: 2.4rem;
        letter-spacing: -0.036rem;
        white-space: nowrap;
        font-weight: 700;
        line-height: 1.5;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .nemo-enim-ipsam-voluptatem-quia-voluptas-sit-aspernatur-aut-odit-aut-fugit-sed-quia-consequuntur-magni-dolores-eos-qui-ratione-voluptatem-sequi-nesciunt-neque-porro-quisquam-est-qui-dolorem-vZN {
        letter-spacing: -0.027rem;
        color: rgba(0, 0, 0, 0.8000000119);
        font-family: Montserrat, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 67.4rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.6666666667;
      }
    }
    .rectangle-BEQ {
      height: 44rem;
      border: solid 0.1rem rgba(0, 0, 0, 0.3000000119);
      box-sizing: border-box;
      background-color: #e5e5e5;
      flex-shrink: 0;
      width: 75rem;
    }
  }
  .body-g-ssv {
    box-sizing: border-box;
    padding: 8rem 9.2rem 8rem 8rem;
    width: 100%;
    height: 60rem;
    display: flex;
    background-color: #ffffff;
    flex-shrink: 0;
    margin-bottom: 1.3rem;
    overflow: hidden;
    position: relative;
    align-items: center;

    .rectangle-yvx {
      flex-shrink: 0;
      margin-right: 8.4rem;
      width: 75rem;
      height: 44rem;
      border: solid 0.1rem rgba(0, 0, 0, 0.3000000119);
      box-sizing: border-box;
      background-color: #e5e5e5;
    }
    .auto-group-x5ys-hrx {
      flex-direction: column;
      flex-shrink: 0;
      margin: 14.5rem 0;
      height: calc(100% - 29rem);
      display: flex;

      .sed-ut-perspiciatis-unde-omnis-rE4 {
        font-size: 2.4rem;
        letter-spacing: -0.036rem;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 2.4rem;
        font-weight: 700;
        line-height: 1.5;
        flex-shrink: 0;
      }
      .nemo-enim-ipsam-voluptatem-quia-voluptas-sit-aspernatur-aut-odit-aut-fugit-sed-quia-consequuntur-magni-dolores-eos-qui-ratione-voluptatem-sequi-nesciunt-neque-porro-quisquam-est-qui-dolorem-yJg {
        color: rgba(0, 0, 0, 0.8000000119);
        font-family: Montserrat, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 67.4rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.6666666667;
        letter-spacing: -0.027rem;
      }
    }
  }
  .body-h-1FN {
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    padding: 12rem 8.6rem 12rem 8rem;
    width: 100%;
    overflow: hidden;
    display: flex;
    background-color: #ffffff;
    flex-shrink: 0;
    margin-bottom: 13.9rem;

    .snap-photos-and-share-like-never-before-jhA {
      line-height: 1.5;
      flex-shrink: 0;
      font-weight: 400;
      letter-spacing: -0.072rem;
      color: #000000;
      font-family: Montserrat, 'Source Sans Pro';
      margin-bottom: 6rem;
      max-width: 63rem;
      font-size: 4.8rem;
    }
    .auto-group-wche-e3S {
      flex-shrink: 0;
      width: 100%;
      height: 35.2rem;
      display: flex;
      align-items: center;

      .group-z7J {
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 2rem;
        width: 49.3rem;

        .auto-group-juxe-LS4 {
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-bottom: 2.4rem;
          width: 100%;
          display: flex;

          .ellipse-5eY {
            margin-bottom: 4rem;
            width: 10.8rem;
            height: 10.8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .sed-ut-perspiciatis-pME {
            margin-bottom: 2.4rem;
            font-weight: 700;
            letter-spacing: -0.036rem;
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.4rem;
            line-height: 1.5;
            color: #000000;
            font-family: Montserrat, 'Source Sans Pro';
          }
          .nemo-enim-ipsam-voluptatem-quia-voluptas-sit-aspernatur-aut-odit-aut-fugit-sed-quia-consequuntur-magni-dolores-eos-qui-ratione-voluptatem-T2p {
            flex-shrink: 0;
            max-width: 46.1rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.6666666667;
            letter-spacing: -0.027rem;
            color: rgba(0, 0, 0, 0.8000000119);
            font-family: Montserrat, 'Source Sans Pro';
          }
        }
        .learn-more-Wmn {
          font-weight: 700;
          line-height: 1.6666666667;
          color: #18a0fb;
          font-family: Montserrat, 'Source Sans Pro';
          flex-shrink: 0;
          width: 100%;
          font-size: 1.8rem;
          letter-spacing: -0.027rem;
          white-space: nowrap;
        }
      }
      .group-2-3Fv {
        margin-right: 2.8rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .ellipse-njJ {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 4rem;
          width: 10.8rem;
          height: 10.8rem;
        }
        .lorem-ipsum-dolor-Xwn {
          font-weight: 700;
          color: #000000;
          flex-shrink: 0;
          margin-bottom: 2.4rem;
          font-size: 2.4rem;
          line-height: 1.5;
          letter-spacing: -0.036rem;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
        }
        .amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-qxU {
          font-weight: 400;
          color: rgba(0, 0, 0, 0.8000000119);
          font-family: Montserrat, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 2.4rem;
          max-width: 48.6rem;
          font-size: 1.8rem;
          line-height: 1.6666666667;
          letter-spacing: -0.027rem;
        }
        .learn-more-6dW {
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1.6666666667;
          letter-spacing: -0.027rem;
          color: #18a0fb;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .group-3-Dy2 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        height: 100%;

        .ellipse-nFS {
          height: 10.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 4rem;
          width: 10.8rem;
        }
        .nemo-enim-ipsam-7oW {
          margin-bottom: 2.4rem;
          font-weight: 700;
          letter-spacing: -0.036rem;
          font-family: Montserrat, 'Source Sans Pro';
          font-size: 2.4rem;
          line-height: 1.5;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .consequuntur-magni-dolores-eos-qui-ratione-voluptatem-sequi-nesciunt-neque-porro-quisquam-est-qui-dolorem-ipsum-quia-dolor-qUc {
          max-width: 48.7rem;
          font-size: 1.8rem;
          line-height: 1.6666666667;
          color: rgba(0, 0, 0, 0.8000000119);
          flex-shrink: 0;
          margin-bottom: 2.4rem;
          font-weight: 400;
          letter-spacing: -0.027rem;
          font-family: Montserrat, 'Source Sans Pro';
        }
        .learn-more-W4x {
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1.6666666667;
          letter-spacing: -0.027rem;
          color: #18a0fb;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
  }
  .signup-c-DVA {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 12rem 14.4rem 12rem 8rem;
    width: 100%;
    overflow: hidden;
    display: flex;
    margin-bottom: 4rem;
    height: 34rem;
    position: relative;
    align-items: center;
    background-color: #f5f5f5;

    .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-7aY {
      line-height: 1.3888888889;
      letter-spacing: -0.054rem;
      font-family: Montserrat, 'Source Sans Pro';
      margin-right: 12.5rem;
      font-size: 3.6rem;
      font-weight: 400;
      max-width: 90.2rem;
      color: rgba(0, 0, 0, 0.8000000119);
      flex-shrink: 0;
    }
    .button-kNc {
      width: 19.2rem;
      align-items: center;
      font-weight: 500;
      letter-spacing: -0.0255rem;
      margin: 2.4rem 4.5rem 2.4rem 0rem;
      border-radius: 0.6rem;
      flex-shrink: 0;
      display: flex;
      font-size: 1.7rem;
      color: #ffffff;
      font-family: Montserrat, 'Source Sans Pro';
      background-color: #18a0fb;
      height: calc(100% - 4.8rem);
      justify-content: center;
      line-height: 1.2175;
      white-space: nowrap;
    }
    .button-yFN {
      line-height: 1.2175;
      color: #18a0fb;
      box-sizing: border-box;
      margin: 2.4rem 0;
      height: calc(100% - 4.8rem);
      background-color: #ffffff;
      flex-shrink: 0;
      width: 19.2rem;
      font-size: 1.7rem;
      font-weight: 500;
      white-space: nowrap;
      border: solid 0.1rem #18a0fb;
      border-radius: 0.6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      letter-spacing: -0.0255rem;
      font-family: Montserrat, 'Source Sans Pro';
    }
  }
  .footer-a-cZE {
    flex-shrink: 0;
    padding: 12rem 8.1rem 11.8rem 8rem;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-sizing: border-box;
    width: 168.9rem;
    align-items: center;

    .auto-group-sjyt-vZv {
      width: 100%;
      height: 3.2rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin-bottom: 4rem;

      .auto-group-2bb6-FMJ {
        flex-shrink: 0;
        box-sizing: border-box;
        padding-right: 24.3rem;
        height: 100%;
        display: flex;
        align-items: flex-start;

        .mobile-app-CGY {
          margin-right: 10.9rem;
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 1.6;
          white-space: nowrap;
          flex-shrink: 0;
          letter-spacing: -0.0225rem;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
        }
        .community-7uJ {
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
          flex-shrink: 0;
          font-size: 1.5rem;
          letter-spacing: -0.0225rem;
          line-height: 1.6;
          white-space: nowrap;
          margin-right: 10.1rem;
          font-weight: 700;
        }
        .company-qKW {
          line-height: 1.6;
          letter-spacing: -0.0225rem;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.5rem;
          font-weight: 700;
        }
      }
      .sample-logo-Asa {
        margin-right: 23.9778rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-ipye-vbr {
          width: 2.2519rem;
          height: 2.2519rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.17rem 0.356rem 0rem;
        }
        .photo-qip {
          letter-spacing: -0.0427rem;
          font-family: Comfortaa, 'Source Sans Pro';
          align-items: center;
          justify-content: center;
          font-size: 2.8444rem;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-weight: 400;
          line-height: 1.115;
        }
      }
      .help-desk-kat {
        line-height: 1.6;
        font-family: Montserrat, 'Source Sans Pro';
        text-align: right;
        font-weight: 700;
        letter-spacing: -0.0225rem;
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 15.8rem;
        font-size: 1.5rem;
      }
      .blog-fhr {
        line-height: 1.6;
        letter-spacing: -0.0225rem;
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 11.2rem;
        text-align: right;
        font-size: 1.5rem;
        font-weight: 700;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
      }
      .resources-bLc {
        white-space: nowrap;
        flex-shrink: 0;
        text-align: right;
        font-size: 1.5rem;
        line-height: 1.6;
        letter-spacing: -0.0225rem;
        font-family: Montserrat, 'Source Sans Pro';
        font-weight: 700;
        color: #000000;
      }
    }
    .rectangle-XEG {
      background-color: rgba(0, 0, 0, 0.5);
      flex-shrink: 0;
      margin: 0rem 0.8rem 8rem 0rem;
      width: 152rem;
      height: 0.1rem;
    }
    .auto-group-bagp-e3z {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 64.5rem 4rem 64.5rem;
      width: calc(100% - 129rem);

      .ellipse-AY8 {
        margin-right: 2.1rem;
        width: 4.4rem;
        height: 4.4rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .ellipse-JuE {
        margin-right: 2.1rem;
        width: 4.4rem;
        height: 4.4rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .ellipse-47i {
        height: 4.4rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 2rem;
        width: 4.4rem;
      }
      .ellipse-ob6 {
        width: 4.4rem;
        height: 4.4rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .photo-inc-2019-we-love-our-users-Mcc {
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 0.3rem;
      text-align: center;
      font-size: 1.5rem;
      line-height: 1.6;
      font-weight: 400;
      letter-spacing: -0.0225rem;
      color: rgba(0, 0, 0, 0.8000000119);
      font-family: Montserrat, 'Source Sans Pro';
    }
  }
}
